@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto Mono, monospace;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono_Var.ttf") format("truetype");
}
